@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html{
	
	scroll-behavior: smooth;
	
	
}


body {
	
 background: url('image/bg1.jpg');
 background-repeat: repeat;
 background-size: 1500px 1500px;
  margin: 0;
}

h1 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 70px;
  color: yellow;
  text-shadow: 3px 3px black;
  text-align: center;
}

a {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
  
}

h2 {
	font-size: 50px;
	font-family: "Roboto", Arial, sans-serif;
	color: blue;
	text-shadow: 3px 3px black;
}

img {
  border-radius: 15%;
}

p{
  font-size: 50px;
  font-family: "Roboto", Arial, sans-serif;
}

.text-center {
  text-align: center;
}


		.buttons001 {
		 
		text-transform: uppercase;
		font-family: "Roboto", Arial, sans-serif;
		font-size: 40px;
		background: lightblue;
		padding: 10px;
		border: 4px solid #494949 !important;
		border-radius: 6px;
		display: inline-block;
		height:100px;
		width:300px;
			
        }
		
		.buttons001:hover {
				   
		color: #ffffff !important;
		background: #f6b93b;
		border-color: #f6b93b !important;
		transition: all 0.4s ease 0s;
		cursor: pointer;
			
        }
		
		
		
		

		.buttons002 {
            float:left;
            margin: 110px;
            border-radius: 30px;
			cursor: pointer;
			
		}
        
		   
			
			
        

        #text001 {
            text-align: center;
        }

        #text002 {
            text-align: left;
        }

        #green001 {
            color: green;
			text-align: center;
			font-family: "Roboto", Arial, sans-serif;
			font-size: 70px;
			text-shadow: 3px 3px black;
        }

        #red001 {
            color: red;
			text-align: center;
			font-family: "Roboto", Arial, sans-serif;
			font-size: 70px;
			text-shadow: 3px 3px black;
			
			
        }
		#question001{
			display: block;
			  margin-left: 250px;
			  
			
		}

.column1 {
	
  float: left;
  padding: 10px;
  width:50%;
  height:300px;
}

/* Clearfix (clear floats) */
.row1::after {
  content: "";
  clear: both;
  display: table;
}